* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main_col: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --cyan-light: #aef1ee;
    --pink-light: #efa2b4;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-10: rgba(255, 255, 255, 0.10);

    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);


}

/* ::before,::after{
    box-sizing: border-box;
} */

/*
                    use of after and before: phuedo selector.
.main_background ::before{
    content: '';
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color: #cddc39;
    z-index:-2;
    opacity: 0.5;
} */
.main_background {
    height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
    gap : 20px;
}

.mnu_a {}


.menu {
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 5px;
    border-radius: 50%;

}

.menu:hover {
    background-color: var(--white-alpha-40);
}
.menu:active {
    transform:rotate(270deg);
}


.main_container {
    margin : 50px 0px;
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: var(--white-alpha-25);
}

.msg {
    color: rgb(92, 56, 221);
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    color: rgb(92, 56, 221);
    margin: 10px 0px 20px 0px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-weight: 400;
}


#element {
    color: rgba(36, 12, 255, 0.726);
    font-family: cursive;
    font-weight: medium;
    /* display: inline-block; */
    /* font-size: 90%; */
}

.navbar {
    display: flex;
    justify-content: right;
    padding: 2%;
}

.main_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(80vh - 2%);
    width: 100%;
    flex-wrap: wrap;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_data {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}


.right {
    min-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.home_img {
    min-width: 50%;
    height: 60%;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 1;
    vertical-align: center;

    /* transition:all 1s ease; */
}

.home_img:hover {

    animation: picanimation 1s ease;
}

@keyframes picanimation {
    0% {
        transform: translateX(0px);
        /* transform: rotate(0deg); */
    }

    100% {
        transform: translateX(-50px);
        /* transform:  rotate(180deg); */
        /* height:50%; */


    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 21px 0px;

}

.buttons .more-about-btn {
    background-color: blur(50px);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 20px;
    padding: 05px;
    margin: 0px 5px 0px 5px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.buttons .portfolio-btn {
    background-color: blur(50px);
    margin: 0px 5px 0px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border: 1px solid rgb(247, 247, 247);
    border-radius: 20px;
    padding: 05px 10px;
    color: blue;
}


.buttons a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* transition : 0s 5s all ease ; */

    /*  transition-delay ,duration,property, timing-func,behaviour*/
}

.buttons a:hover {
    animation: btnhover .5s ease-in-out;
    /* overflow: hidden; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes btnhover {
    0% {
        /* background-color:#aef1ee; */
        /* left:0%; */
        transform: translateY(0%);

    }

    50% {
        transform: translateY(7.5%);
    }

    100% {
        transform: translateY(15%);
    }
}


/* -----------Home page style finsish--------- */

/* ------------menu page style start--------- */

.main_content_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(80vh - 2%);
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.mnu_items {
    color: blue;
    font-family: monospace;
    font-weight: 500;
    font-size: 2em;
    padding: 10px;
    transition: all .4s ease;
    border-radius: 10px;
    text-decoration: none;
}

.mnu_items:hover {
    color: rgb(0, 167, 223);
    background-color: var(--white-alpha-10);
}




/* -------------menu page style finish----------- */

/* -------------about page style starts---------- */

.main_content_about {
    display: flex;
    background-color: var(--white-alpha-25);
    align-items: center;
    justify-content: center;
    height: calc( 90vh - 2% );
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    /* align-content: center; */
}

.about_data{
    margin-top:35px;
    display: flex;
    height: 100%;
    width:100%;
    flex-wrap: wrap;
    
}
.left_about{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: center;
   width:30%;
   /* height:50%; */
   flex-wrap: wrap;
   flex-shrink: 1;
    height:100%;
}

.right_about{
    display: flex;
    flex-direction: column;
   width:50%;
    height: 100%;
    flex-wrap: wrap;
    /* text-wrap: nowrap; */
  
}

.aboutpara{
    /* min-width:100%; */
    /* height:40%; */
    width:100%;
 margin:5px;
 font-weight:400;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px;
    line-height: 21px;
    display: flex;
    text-transform: capitalize;
    flex-wrap: nowrap;
    background-color: #18293c;
}



.profile_image_about{
   flex-wrap: wrap;
    width:100%;
    border-radius: 10px;
    height:100%;
    vertical-align: center;
}

.skill{
    min-width:100%;
    margin:10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills_data{
    min-width:100%;

    display: flex;
    flex-wrap: wrap;
    /* padding: 15px; */
    -webkit-tap-highlight-color: transparent;
}

.skl{
    /* display: inline-block; */
    /* height:100%; */
    margin: 5px;
    padding: 10px;
    background-color: var(--white-alpha-25);
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    /* width:100%; */
}
.skl:hover{
    cursor: pointer;
    background-color: var(--white-alpha-40);
}

.about_bottom{
    min-width:100%;

    display: flex;
    /* margin:5px; */
}

.education , .experience{
    padding: 5px;
    /* font-size: 20px; */    
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.experience{
    margin-left: 20px;
}
  /* --------------about page style ends -------- */

