* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main_col: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --cyan-light: #aef1ee;
    --pink-light: #efa2b4;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-10: rgba(255, 255, 255, 0.10);

    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);


}

/* ::before,::after{
    box-sizing: border-box;
} */

/*
                    use of after and before: phuedo selector.
.main_background ::before{
    content: '';
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color: #cddc39;
    z-index:-2;
    opacity: 0.5;
} */

/* ------background circles style starts--------- */
.bgcircles{
    position:fixed;
    top: 0;
    left:0;   
    /* transform: translateX(-50px); */
    height:100%;
    width:100%;
    z-index: -20;
    /* background-color: #e3e3fa; */
}
.circles-left{
    position:fixed;
    top: 0;
    left:0;
    width:50%;
    height:100%;
    /* background-color: #a3f096; */
}
.circles-right{
    position:fixed;
    top: 0;
    left:50%;
    width:50%;
    height:100%;
    /* background-color: #1ac9d6; */
}


.three{
    width: 90px;
    height: 90px;
    /* width:10vw; */
    border-radius: 50%;
    background-color: #d1c715;
    position: relative;
    z-index:-15;
    opacity:0.3;
    top:10%;
    left:30%;
}
.four{
    width: 50px;
    height: 50px;
    /* width:10vw; */
    border-radius: 50%;
    background-color: #14b026;
    position: relative;
    z-index:-15;
    opacity:0.4;
    top:20%;
    left:09%;
    animation: bounce 4s ease-in-out 0.2s infinite alternate;
}
.five{
    width: 110px;
    height: 110px;
    /* width:10vw; */
    border-radius: 50%;
    background-color: #ee115a;
    position: relative;
    z-index:-15;
    opacity:0.3;
    top:50%;
    left:23%;
    animation: wave 3s ease-in-out 0.4s infinite alternate ;

}
.one{
    width: 100px;
    height: 100px;
    /* width:10vw; */
    border-radius: 50%;
    background-color: #e1638d;
    position: relative;
    z-index:-15;
    opacity:0.3;
    top:05%;
    left:23%;
    animation: left-right 3s ease-in-out 0.4s infinite alternate ;
}
.two{
    width: 150px;
    height: 150px;
    /* width:10vw; */
    border-radius: 50%;
    background-color: #5885e1;
    position: relative;
    z-index:-15;
    opacity:0.3;
    top:45%;
    left:60%;
    animation: bounce 4s ease-in-out 0.2s infinite alternate;
}

/* --------animate the circles---------- */
@keyframes bounce {
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(100px);

    }
}
@keyframes wave {
    0%{
        transform: translate(0,0) scale(0.4) rotate(0deg);
        opacity: 0;
    }
    20%{
        transform: translate(25px,40px) scale(0.6) rotate(90deg);
        opacity: 0.1;
    }
    60%{
        transform: translate(50px,-40px) scale(0.8) rotate(180deg);
    }
    100%{
        opacity: 0.2;
        transform: translate(100px,40px) scale(1.0) rotate(360deg);
    }
}
@keyframes left-right {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(100px);

    }
}

/* --------backgound circles ends- -------------- */

.main_background {
    height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-tap-highlight-color: transparent;
    gap : 20px;
}
.menu {
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 5px;
    border-radius: 50%;

}
.menu:hover {
    background-color: var(--white-alpha-40);
}
.menu:active {
    transform:rotate(270deg);
}

.main_container {
    margin : 50px 0px;
    width: 90vw;
    min-height:90vh;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color: var(--white-alpha-25);
}
.msg {
    color: rgb(92, 56, 221);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name {
    color: rgb(92, 56, 221);
    margin: 10px 0px 10px 20px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
#element {
    color: rgba(36, 12, 255, 0.726);
    font-family: cursive;
    font-weight: medium;
    /* display: inline-block; */
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: right;
    padding: 2%;
}

.main_content {
    display: flex;
    align-items: center;
    margin-top:10vh;
    justify-content: space-between;
    height: calc(80vh - 2%);
    width: 100%;
    flex-wrap: wrap;
}

.left {
    width: 50%;
    height: 100%;
}

.left_data {
    width: 100%;
    height: 100%;
    margin: 50px 0px 50px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:start;
    transition: all 1s ease;
}


.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.home_img {
    width: 50%;
    border: 2px solid #fff;
    border-radius: 20px;  
    opacity: 1;
    vertical-align: center;
    /* transition:all 1s ease; */
}

.home_img:hover{
    animation: picanimation 1s ease;
}

@keyframes picanimation {
    0% {
        transform: translateX(100px) scale(0.9);
        opacity: 0;
        /* transform: rotate(0deg); */
    }

    100% {
        transform: translateX(-100px) scale(1.0);
        opacity:1;
        /* transform:  rotate(180deg); */
        /* height:50%; */
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 21px 0px;

}

.buttons .more-about-btn {
    background-color: blur(50px);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 20px;
    padding: 05px;
    margin: 0px 5px 0px 5px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.buttons .portfolio-btn {
    background-color: blur(50px);
    margin: 0px 5px 0px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border: 1px solid rgb(247, 247, 247);
    border-radius: 20px;
    padding: 05px 10px;
    color: blue;
}


.buttons a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* transition : 0s 5s all ease ; */
    /*  transition-delay ,duration,property, timing-func,behaviour*/
}

.buttons a:hover {
    animation: btnhover .5s ease-in-out;
    /* overflow: hidden; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes btnhover {
    0% {
        /* background-color:#aef1ee; */
        /* left:0%; */
        transform: translateY(0%);
    }

    50% {
        transform: translateY(7.5%);
    }

    100% {
        transform: translateY(15%);
    }
}


/* -----------Home page style finsish--------- */

/* ------------menu page style start--------- */

.main_content_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(80vh);
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.mnu_items {
    color: blue;
    font-family: monospace;
    font-weight: 500;
    font-size: 2em;
    padding: 10px;
    transition: all .4s ease;
    border-radius: 10px;
    text-decoration: none;
}

.mnu_items:hover {
    color: rgb(0, 167, 223);
    background-color: var(--white-alpha-10);
}




/* -------------menu page style finish----------- */

/* -----------Responsive style -------------- */
@media only screen and (max-width:575px){
    .left,.right{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
    }
    .left_data{
        margin:30px 0px;
        /* text-align: center; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .namw{
        margin:0;
    }
    
    .main_content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right,.home_img{
        order:-1;
    }
    .home_img:hover{
        animation: none;
    }
}
/* ---------------Responsive style ends-------------- */